<div style="display: block">

  <!-- <canvas baseChart [datasets]="lineChartDataScatter" [labels]="lineChartLabelsScatter" [chartType]="lineChartTypeScatter"> -->

  <!-- <canvas baseChart [datasets]="chartDetails" [labels]="lineChartLabelsScatter"
    [chartType]="lineChartTypeScatter" [options]="lineChartOptionsScatter" [colors]="lineChartColorsScatter"> -->
  
  
  
    <canvas baseChart [datasets]="chartDetails" 
    [options]="lineChartOptionsScatter" >

  </canvas>
<!-- 
  <p>The result is {{result | json}} </p>
  <p>The coords is {{coords | json}} </p>
  <p>The ares is {{ares | json}} </p>
  <p>The Gradient is {{num1}}</p>
  <p>The Gradient is {{num2}}</p>
  <p>The Gradient is {{num3}}</p>
  <p>The Gradient is {{num4}}</p> -->
</div>
